*{
    margin: 0;
}



#sidebar{
    width:273px;
    height: 100%;
    background-color:white ;
    float:left;
    position:fixed;
    background-color:grey;
    box-shadow: 2px 1px 10px black;
    }
    
#LOGO{
    padding: 25PX 0 25PX 35PX;
    
}

#sidemenu{
    list-style: none;
    padding: 25px 25px 0px 45px;
    overflow: hidden;
}

#sidemenu li{
    font-family: Tw Cen MT, sans-serif;
    font-weight: 500;
    padding: 20px;
     color: #D8D8D8  ;
    font-size: 15pt;
    overflow: hidden;
}

#sidemenu li:hover{
      color: black;
      font-size: 16pt;
      background-color:#B0B0B0 ;
      width:100%;
      padding:15%;
}
#copyright{
    padding: 10px;
    text-align: right;
    font-size: 10pt;
    color:	black; 
    opacity:70;
}

#general{
       width:85%;
       height:400px;
       background: url(mouth.jpg);
       float: right;
       box-shadow: 2px 1px 10px black;
}

.heading{
    font-size:25pt;
    font-family:sans-serif;
    font-weight: 400;
    color:#D0D0D0 ;
    text-align: center;
    padding-top:100px;
    overflow: hidden;
}

.heading2{
    font-size:20pt;
    font-family:sans-serif;
    font-weight:400;
    color:#606060 ;
    margin-left:647px;
    overflow: hidden;
}

#RESUME{
    text-align: center;
    font-weight:700;
    color: black;
    font-family: fantasy;
    font-size: 30pt;
    overflow: hidden;
}

#lang{
    background: url(languges.jpg);
    width:85%;
    height:400px;
    float: right;
    overflow: hidden;
    box-shadow: 2px 1px 10px black;
}

.langimg{
    text-shadow: 3px 3px 3px black;
    overflow: hidden;
}

a{
    text-decoration: none;
    color:inherit;
    overflow: hidden;
}

#edu{
    background: url(skol.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:85%;
    height:400px;
    float: right;
    overflow: hidden;
    box-shadow: 2px 1px 10px black;
    
}

.footing{
    font-size:25pt;
    font-family: FANTASY;
    color:GREY;
    text-shadow: 2px 2px 2px black;
}

#exp{
    background-image:url(mech.jpg) ;
    background-size: cover;
        background-repeat: no-repeat;
    width:85%;
    height:495px;
    float: right;
    overflow: hidden;
    box-shadow: 2px 1px 10px black;
}

#cont{
    background: url(cont.jpg);
    background-size:cover;
    width:85%;
    height:410px;
    float: right;
    overflow: hidden;
     box-shadow: 2px 1px 10px black;   
    
}
#skil{
    background: url(low-poly-mountain-simple-2560x1440.png);
    background-size:cover;
    width:85%;
    height:410px;
    float: right;
    overflow: hidden;
    box-shadow: 2px 1px 10px black;
}

.exp{
    background-color:#A6A6A6;
    height:150px; width:95%;
    margin:10px 0px 0px 3px;
    opacity:0.8;
    box-shadow:3px 1px 8px black;
    
}

.skil{
    
}


#END{
    background-color: lightgrey;
    background-size: cover;
        background-repeat: no-repeat;
    width:85%;
    height:20px;
    float: right;
    overflow: hidden;
    box-shadow: 2px 1px 10px black;
}