*{
    list-style-type:none ;
}

#sm{
    background: black;
    margin: 30px;
   border-radius: 10px;
}

#Realabout{
    background: black;
    margin: 30px;
    border-radius: 10px;
}

#Skills{
    background: black;
    margin: 30px;
    border-radius: 10px;
}