* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}





/* menu button */
header{
  padding: 1px;
  height: min-content;
  width: min-content;
  border-radius: 5px;
  margin: 2px;
  z-index: 1;
  /* position: absolute; */
  color: white
}



/* side nav bar logo */
.logo{
  width: 5%;
  background-color: inherit;
}



/* side nav bar */
.sidenav{
  background-color: maroon;
  z-index: 2;
  height:100%;
  left: -100%;
  width:min-content;
  position: absolute;
  transition: all 0.3s cubic-bezier(.17,.67,.43,1.19);
  border-radius: 10px;
  z-index: 2;
}

.sidenav.active{
  left: 0%;
}

.sidenav ul li {
  list-style-type: none;
}

.sidenav ul{
  padding: 5%;
  margin-top: 40%;
}

.sidenav ul li a{
  text-decoration: none;
  font-size:larger;
  color:#efefef;
  font-weight:lighter;
  padding: 20px;
  transition: all 1s;
  border-radius: 5px;
  display: block;
}

ul li a:hover,
ul li a:active{
  background: navy;
  color: inherit ;
  transition: all 1s;
}